h2{
    font-size: 40px;
    font-weight: 600;
    width: 300px;
    line-height: 1;
    letter-spacing: -.45px;
    color: #282c3f;
    font-family: ProximaNova,Arial,Helvetica Neue,sans-serif;
    margin-bottom: 0px;
}
p{
    font-size: 20px;
    width: 400px;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 60px;
    color: #7e808c;
    line-height: 1.2;
    font-family: ProximaNova,Arial,Helvetica Neue,sans-serif;
    letter-spacing: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}
.imgdiv{
    display: flex;
    gap:20px;
}




@media (max-width:1024px) {
    .infopara{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .infodiv{
        padding-left: 20px;
    }
}
@media (max-width:426px) {
    .infodiv{
        padding-left: 0px;
        padding-right: 30px;
    }
}