input{
    border: none;
    width: 225px;
    font-size: 17px;
    font-weight: 600;
    text-overflow: ellipsis;
    color: inherit;
}
input:focus{
    outline: none;
    caret-color: #fc8019;
}
.inputdiv{
    width: 276px;
    padding: 20px 15px;
}

