footer{
    background: #000;
    padding-top: 60px;
}

.upperfooter,.middlefooter {
    
    display: flex;
    justify-content: space-between;
    
}
.middlefooter{
    margin-bottom: 30px;
    justify-content: space-evenly;
}
.upperfooter>div,.middlefooter>div{
    margin:0px;
    width:25%;
}
.container{
    width: fit-content;
    margin-left:20px;
}
.imgdivfoot{
    /* text-align: center; */
    padding-right: 0px;
    
}
.footerContainer{
    width: 95%;
    margin-left: 28px;
}
.margn{
    margin-top: 54px;
}
hr{
    border: none;
    border-top:1px solid white;
    width: 95%;
    margin: auto;
    margin-top:-10px;
}
.lowerfooter{
    display: flex;
    justify-content: space-between;
    padding:30px;
}
.footicon{
    display: flex;
    justify-content: space-evenly;
    gap:40px;
}
.icon{
    font-size: 28px;
    cursor: pointer;
}
.icon:hover{
    transform: scale(1.3);
}
.copy{
    /* flex-grow: 1; */
    text-align: center;
    font-size: 20px;
    letter-spacing: -.6px;
    color: #fff;
    font-weight: 300;
    font-family: ProximaNova,Arial,Helvetica Neue,sans-serif;
    line-height: 1.2;
    padding:0px;
    cursor: text;
}
.lowerfooter i{
    color:white;
}




@media (max-width:769px) {
    .upperfooter{
        flex-wrap: wrap;
    }
}















